.container {
    border: 5px solid #ffcc5c;
    display: flex;

    /* flex-direction: column; */
    /* flex-direction: row; */

    /* flex-start flex-end center space-around
    space-between space-evenly */
    /* justify-content: flex-end; */

    /* Align items */
    /* height: 100%;
    align-items: center; */


    /* Flex direction column */
    /* flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end; */


    /* Flex-wrap */
    flex-wrap: wrap;
    /* flex-wrap: no-wrap */
}

/* Flex-wrap */
.container > div {
  width: 300px;
}

/* .home {
    margin-right: auto;
    margin-left:auto
} */

/* Flex property */
/* .home {
    flex: 1;
  }
  
  .logout {
    flex: 1;
  } */


/* Align items */
/* .logout {
align-self: flex-start;
}

.home {
align-self: flex-end;
} */


/* Flex grow,shrink,basis */
.home {
  /* flex: 1 1 0 is down as*/
  /* flex: 1;  */

  flex: 1 1 200px;

  /* same as
  flex-grow: 1
  flex-shrink: 1
  flez-basis:200px
   */
}

.logout {
  flex: 10 1 200px;

  /* same as
  flex-grow: 10
  flex-shrink: 1
  flez-basis:200px
   */
}