.container {
    border: 5px solid #ffcc5c;
    display: flex;

    /* flex-direction: column; */
    /* flex-direction: row; */

    /* flex-start flex-end center space-around
    space-between space-evenly */
    justify-content: flex-end;
}

.home {
    margin-right: auto;
    /* margin-left:auto */
}

/* Flex property */
.home {
    flex: 1;
  }
  
  .logout {
    flex: 1;
  }

