* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: center;
    color: green;
    font-size: 15px;
    /* To select on by one for transitions and also change for different timings*/
    /* transition: color 0.5s, font-size 1s; */
    /* or you can select for all */
    /* transition: all 2s; */

    /* Custmozing transitions */
    /* transition-property: font-size; property should mention with duration */
    /* transition-duration: 0.5s;

    transition-delay: 1s;
    transition-timing-function: ease-in; */

    /* transiton: property duration timing-funtion delay */
    transition: all 0.5s ease 1s;
}

/* Pseudo selector */
.heading:hover {
    color: red;
    font-size: 20px;
    letter-spacing: 5px;
}

.box {
    width: 50px;
    height: 50px;
    background: teal;
    border: 1px solid black;
    animation-name: grow;
    animation-duration: 1.5s;
}

/* from-to can be also defined into 0%-50%-100% */
@keyframes grow {
    0% {
        width: 50px;
        height: 50px;
        background-color: teal;
    }
    50% {
        width: 75px;
        height: 75px;
        background-color: red;
    }
    100% {
        width: 100px;
        height: 100px;
        background-color: green;
    }
}