* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.heading {
    display: flex;
    justify-content: center;
    color: green;
    font-size: 15px;
    /* To select on by one for transitions and also change for different timings*/
    /* transition: color 0.5s, font-size 1s; */
    /* or you can select for all */
    /* transition: all 2s; */

    /* Custmozing transitions */
    /* transition-property: font-size; property should mention with duration */
    /* transition-duration: 0.5s;

    transition-delay: 1s;
    transition-timing-function: ease-in; */

    /* transiton: property duration timing-funtion delay */
    transition: all 0.5s ease 1s;
}

/* Pseudo selector */
.heading:hover {
    color: red;
    font-size: 20px;
    letter-spacing: 5px;
}

.box {
    width: 50px;
    height: 50px;
    background: teal;
    border: 1px solid black;
    /* animation-name: grow;
    animation-duration: 1.5s;
    animation-delay: 1s; */
    /* animation-iteration-count: 2; infinite for infinite times also can specify some no. */
    /* animation-timing-function: ease-in;
    animation-direction: alternate; */
    animation-fill-mode: both;

    /* Shorthand of animation */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: grow 1.5s ease-in 1s 2 alternate;
}

/* from-to can be also defined into 0%-50%-100% */
@keyframes grow {
    0% {
        width: 50px;
        height: 50px;
        background-color: teal;
    }
    50% {
        width: 75px;
        height: 75px;
        background-color: red;
    }
    100% {
        width: 100px;
        height: 100px;
        background-color: green;
    }
}

/* For Transforming && Scaling */
.box1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 50px;
    height: 50px;
    background: olive;
    border: 1px solid black;
    animation-name: transform;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes transform {
    100% {
        /* transform: scale(2,1); */
        /* transform: translate(-10px, 30px) */
        /* transform: translate(50%, 25%); */

        /* transform: rotate(-180deg); */

        transform: skew(0deg, 50deg);
    }
}